header {
    margin: 0;
    height: 314px;
    background-color: #FFC5A0;
}

.header-bar {
    margin: 0;
    width: auto;
    font-size: 16;
    font-weight: bold;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.header-img {
    display: flex;
    justify-content: center;
}

.header-slider {
    display: flex;
}


@media screen and (min-width: 401px) {
    
}

@media screen and (max-width: 400px) {
    .header-bar {
        height: 45px;
        margin: 0;
    }

    .header-img {
        height: 160px;
        margin: 0;
    }

    .header-slider {
        margin: 0;
        padding: 5%;
    }
}