header {
    margin: 0;
}

.header-bar {
    margin: 0;
    height: 120px;
    width: auto;
    background-color: skyblue;
    overflow: hidden;
    font-size: 16;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-title p {
    text-align: center;
}


@media screen and (min-width: 401px) {
    .header-icoon svg {
        float: right;
    }
    
}

@media screen and (max-width: 400px) {
    .header-bar {
        height: 100px;
    }

    .header-bar p {
        margin: 0;
        padding: 10%;
    }

    .header-icon {
        display: flex;
        align-items: center;
    }
}